@import "../../index.scss";

.row-container {
  width: 100%;
  padding: 10px 10px 30px;
  display: flex;
  align-items: center;
  scroll-behavior: smooth;

  .box {
    min-width: 300px;
    width: 300px;
    margin-top: 20px;
    background-color: white;
    -webkit-box-shadow: 3px 3px 24px 3px rgba(124, 124, 124, 0.1);
    -moz-box-shadow: 3px 3px 24px 3px rgba(124, 124, 124, 0.1);
    box-shadow: 3px 3px 24px 3px rgba(124, 124, 124, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 5%;
    padding-right: 10px;
    transition: 0.2s ease-in-out;
    margin: 12px;

    &:hover {
      -webkit-box-shadow: 3px 3px 24px 3px rgba(124, 124, 124, 0.3);
      -moz-box-shadow: 3px 3px 24px 3px rgba(124, 124, 124, 0.3);
      box-shadow: 3px 3px 24px 3px rgba(124, 124, 124, 0.3);
      transition: 0.2s ease-in-out;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        184deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(224, 224, 224, 0.43881302521008403) 100%
      );
    }
    .item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 2px 15px;
      img {
        width: 160px;
        margin: 5px;
        border-radius: 25%;
      }
      .add-to-cart {
        width: 36px;
        height: 36px;
        background-color: $green;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: rgb(55, 115, 72);
          transition: 0.2s ease-in-out;
        }
        * {
          color: white;
          font-size: 18px;
          cursor: pointer;
        }
      }
    }
    .text-holder {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-direction: column;
      .title {
        color: $main-dark;
        font-weight: 600;
        font-size: 16px;
        margin: 0px;
      }
      .description {
        color: $main-dark;
        font-weight: 400;
        font-size: 12px;
        margin: 3px 0px 0px;
      }
      .price {
        color: $main-dark;
        margin: 5px 0px 0px;
        font-size: 22px;
      }
    }
  }
}
.main {
  overflow-x: scroll;
  min-width: 340px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
.menu {
  overflow-x: hidden;
  flex-wrap: wrap;
}

@media (max-width: 450px) {
  .row-container {
    .box {
      width: 100%;
    }
  }
}
