@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600;700&display=swap');

$orange : #d86237;
$cream: #f2e8d8;
$green: #7ea889;
$dark-green: #2a5631;
$main-dark: #3B3D42;
$light-blue: #7d9ab5;

body{
    margin: 0px;
    font-family: "Josefin Sans", sans-serif;

    overflow-x: hidden;
}